<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179839605081-eglefsfrsl1s4t7ouhohfjak7oqvo0rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179839605081-eglefsfrsl1s4t7ouhohfjak7oqvo0rr</string>
	<key>API_KEY</key>
	<string>AIzaSyB1eiz6Uw0bgMJxYFqpJQajqCk2fA6qntA</string>
	<key>GCM_SENDER_ID</key>
	<string>179839605081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.opso.ios</string>
	<key>PROJECT_ID</key>
	<string>opso-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>opso-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179839605081:ios:e8c750b53eb1ab27</string>
	<key>DATABASE_URL</key>
	<string>https://opso-mobile-app.firebaseio.com</string>
</dict>
</plist>